:root {
    --background-color: #f4fff4;
    --border-color: #18FF27;
    --text-color: #18BA27;
    --button-bg: #006c0b;
    --button-hover-bg: transparent;
    --button-hover-text: #18BA27;
    --bigger-text-color: #006c0b;
    --big-text-color: #18BA27;
    --btn-background: #cdffcd;
    --input-color: #98ff98;
}

*{
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
}

.header-main {
    width: 70%;
    justify-content: space-around;
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--big-text-color);
}

nav {
    display: flex;
    gap: 50px;
}

.header-main .profile {
    list-style-type: none;
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end; 
    gap: 4px; 
}

.uname {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-family: 'IBM Plex Sans', sans-serif;
}

.header-login-a{
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
}

h3 a {
    text-decoration: none;
    position: relative;
    color: var(--big-text-color);
}

h3 a:not(.current)::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--big-text-color);
    transition: width 0.3s ease;
}

h3 a:not(.current):hover::before {
    width: 100%;
}

h3 a:hover {
    color: var(--big-text-color);
}

.current {
    color: #baffba;
}

.current:hover {
    color: #baffba;
}


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--background-color);
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    transition: background-color 1s ease, color 1s ease;
    font-family: 'IBM Plex Sans', sans-serif;
}

button:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--text-color);
    transition: width 0.7s ease;
}

button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

button:hover:before {
    width: 100%;
}

nav {
    display: flex;
    gap: 40px;
}

h1 {
    font-size: 2em;
    color: var(--text-color);
}

input[type=submit] {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #d6d4d2;
}

.delete {
    background-color: rgb(116, 24, 24);
}

.delete:hover {
    background-color: rgb(105, 19, 19);
}

.admin {
    background-color: rgb(84, 138, 67);
}

.admin:hover {
    background-color: rgb(105, 165, 87);
}
.jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.job {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 7px;
    border: 2px solid #5a5d5f;
    border-radius: 50px;
    padding: 10px; 
    box-sizing: border-box;
    background-color: #141515;
    cursor: pointer;
    height: 40px; 
    width: fit-content; 
    min-width: 60px; 
    font-size: 0.5em; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.job.active {
    background-color: rgb(84, 138, 67);
    border-color: rgb(38, 88, 23); 
}

#applicants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.application {
    flex-basis: calc(25% - 130px); 
    margin: 10px;
    border: 3px solid #5a5d5f;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #141515;
} 

/* day night button */

.dayNightBtn {
    color: var(--text-color);
    border: none;
    background-color: transparent;

    transition: transform 0.3s ease;
}

.dayNightBtn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.dayNightBtn:hover:before {
    width: 0;
}

/* day night button */

.about a , .ubt , .copyright{
    color: white;
}

