* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #0d0e0e;
    color: white;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 270px;
    position: fixed;
    top: 0;
    left: -270px;
    transition: all 0.3s ease;
    z-index: 1000;
}

#btn:checked ~ .wrapper {
    left: 0;
}

.wrapper .menu-btn {
    position: absolute;
    left: 270px;
    top: 10px;
    background: #4a4a4a;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 1001;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#sidebar {
    background: #404040;
    height: 100%;
    width: 270px;
}

#sidebar .logo {
    line-height: 65px;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    border-bottom: 1px solid #222;
}

#sidebar .list-items {
    list-style: none;
    padding: 0;
}

#sidebar .list-items li {
    padding: 15px 0;
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
    background: #4a4a4a;
}

#sidebar .list-items li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
    padding-left: 20px;
}

.profile {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.profile button {
    width: 100%;
    margin-bottom: 10px;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: all 0.3s ease;
}

#btn:checked ~ .content {
    margin-left: 270px;
}

.users, .jobs {
    margin: 50px 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 10px;
}

table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #5a5d5f;
    border-radius: 8px;
    background-color: #141515;
}

th, td {
    width: 130px;
    text-align: center;
    border: 1px solid #5a5d5f;
    padding: 10px;
}

button {
    width: 100px; 
    height: 30px; 
    border-radius: 20px; 
    border: none;
    outline: none;
    margin-bottom: 3px;
    transition: transform .2s;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

button:hover {
    transform: scale(1.1);
}

.delete {
    background-color: rgb(116, 24, 24);
    color: white;
}

.delete:hover {
    background-color: rgb(105, 19, 19);
}

.admin {
    background-color: rgb(84, 138, 67);
    color: white;
}

.admin:hover {
    background-color: rgb(105, 165, 87);
}

.uname, .header-login-a {
    background-color: #0d0e0e;
    color: #ececec;
}

.lg, .si {
    background-color: #4a4a4a;
    color: #ececec;
}