*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* margin: 50px; */
    border: 1px solid black;
    border-radius: 15px;
}
.first{
    border-bottom: 1px solid black;
}
.second{
    border-bottom: 1px solid black;
}
.img-fluid.rounded-circle {
    width: 100px;  /* or any size you want */
    height: 100px;  /* or any size you want */
    object-fit: cover;
}
