:root {
    --background-color: #f4fff4;
    --border-color: #18FF27;
    --text-color: #019210;
    /* 18BA27 */
    
    --button-bg: #007bff;
    --button-hover-bg: transparent;
    --button-hover-text: #18BA27;
    --job-card-bg: #f4fff4;
    --job-card-border: #18BA27;
    --job-card-text: #18BA27;
    --footer-bg: #18BA27;
    --footer-text: #006c0b;
    --search-input-bg: #EDF6F9;
    --search-input-border: #83C5BE;
    --search-input-placeholder: #83C5BE;
    --search-button-bg: #cdffcd;
    --search-button-text: #83C5BE;
}

/* Reset styles */
* {
    padding: 0;
    margin: 0;
}

/* Font import */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Body styles */
body {
    background-color: var(--background-color);
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 100vh;
}

/* Header styles */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
}

.header-main {
    padding: 30px;
    width: 70%;
    justify-content: space-around;
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--text-color);
}

/* Navigation styles */
nav {
    display: flex;
    gap: 50px;
}

/* Link styles */
.lg {
    border: none;
    background-color: transparent;
    color: var(--text-color);
}

.si {
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
}

/* Footer styles */
footer {
    position:relative;
    bottom: 0px !important; 
    width: 100%;
    height: 15vh;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    margin-top: 30vh;
}

.content {
    color: var(--footer-text);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Heading link styles */
h3 a {
    text-decoration: none;
    position: relative;
    color: var(--text-color);
}

h3 a:not(.current)::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: width 0.3s ease;
}

h3 a:not(.current):hover::before {
    width: 100%;
}

.current {
    color: var(--border-color);
}

/* Button styles */
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    transition: background-color 1s ease, color 1s ease;
    font-family: 'IBM Plex Sans', sans-serif;
}
.deleteBtn{
    background-color: rgb(231, 93, 93);
    color: white;
}
.deleteBtn:hover{
    background-color: rgb(230, 35, 35);
}
.deleteBtn::before{
    background-color: red;
}
button:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--text-color);
    transition: width 0.7s ease;
}

button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

button:hover:before {
    width: 100%;
}

/* Job card styles */
.job-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    margin: 20px;
    gap: 20px;
}

.job-card {
    flex: 1 0 calc(33.33% - 40px);
    max-width: calc(34% - 40px);
    height: auto;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--job-card-bg);
    border: 2px solid var(--job-card-border);
    border-radius: 15px;
    color: var(--job-card-text);
    padding: 10px;
    transition: transform 0.4s;
    box-sizing: border-box;
    overflow: hidden;
}

.job-card:hover {
    transform: scale(1.05);
}

.job-card h4 {
    margin-top: 0;
}

.job-card p {
    margin: 10px 0;
}

/* Search bar styles */
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    text-align: center;
    background-color: black;
    /* background-color: var(--search-input-bg); */
    border: none;
    border-bottom: 3px solid var(--search-input-border);
    padding: 10px;
    height: 20px;
    outline: none;
    color: var(--text-color);
    font-size: 20px;
    transition: border-bottom 0.3s, background-color 0.3s;
}

.searchTerm:focus {
    color: var(--text-color);
    background-color: var(--background-color);
    border-bottom: var(----search-button-bg) solid 3px;
}

.searchTerm::placeholder {
    color: var(--search-input-placeholder);
}

 .searchButton {

    display: none;
 }
/*    
.searchButton {
    width: auto;
    height: 43px;
    border: none;
    background: var(--background-color);
    text-align: center;
    color: var(--border-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.searchButton:hover {
    background-color: var(--background-color);
}
.searchButton:hover {
    background-color: transparent;
}
*/
.searchTerm:focus + .searchButton {
    display: block;
}

.formmaster {
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formmaster h1 {
    color: var(--text-color);
    padding: 0 10px;
    font-size: 40px;
    align-self: center;
}

/* Form input styles */
form {
    padding: 30px;
}

.formHolder {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    min-height: auto;
    width: 100%;
}

.formleft {
    width: 50%;
}

.leftinput {
    margin-bottom: 30px;
    color: var(--text-color);
    padding: 20px;
    font-size: 20px;
    width: 100%;
    height: 30px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-color);
    transition: border 0.1s, background-color 0.1s;
    resize: none;
}

.leftinput::placeholder {
    color: var(--border-color);
}

.leftinput:focus::placeholder {
    color: transparent;
}

.leftinput:focus {
    outline: none;
    text-decoration: none;
    border-color: #1b747c;
    background-color: #dff1f0;
}

select {
    width: 100%;
    font-size: 20px;
}

#qualSelect option:disabled {
    display: none;
}
.submitBtn {
    position: relative;
    left: 50%;
    width: 100%;
    color: var(--text-color);
    background-color: var(--border-color);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 auto;
    align-self: flex-end;
    transform: scale(0.9);
}

#p-jobs {
    text-align: center;
    margin-top: 80px;
    color: var(--text-color);
    font-size: 40px;
}
.p-info {
    width: 100%;
}
.p-info hr {
    color: #006c0b;
    background-color: #006c0b;
    border: solid 1px var(--job-card-border);
}

/* .p-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 90%;
}

.p-img img {
    width: 80%;
    height: auto;
}

.p-img button {
    margin-top: 10px;
    border: none;
    color: var(--text-color);
    background-color: var(--border-color);
    transition: transform 0.3s, background-color 0.3s;
}

.p-img button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    transform: scale(1.1);
} */

/* Search Bar Styles */


.searchTerm {
    text-align: center;
    background-color: var(--background-color);
    width: 500px;
    border: none;
    border-bottom: 3px solid var(--border-color);
    padding: 10px;
    height: 20px;
    outline: none;
    color: var(--text-color);
    font-size: 20px;
    transition: border-bottom 0.3s, background-color 0.3s;
}

.searchTerm:focus {
    color: var(--text-color);
    background-color: var(--border-color);
    border-bottom: var(--text-color) solid 3px;
}

.searchTerm::placeholder {
    color: var(--border-color);
}

/*  */

.searchTerm:focus + .searchButton {
    display: block;
}

/* Wrap Styles */
.wrap {
    width: 30%;
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
    display: inline-block;
}

button a:hover {
    color: #006D77;
}

.header-main .profile {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4px;
}

.header-main .profile a {
    text-decoration: none;
    color: var(--text-color);
}

.header-login-a {
    border: none;
    background-color: var(--button-hover-text);
    color: var(--background-color);
}

.uname {
    border: none;
    background-color: transparent;
    color: var(--text-color);
}

.error-message {
    color: #B22222;
    font-weight: bold;
    text-align: center;
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
}

/* day night button */

.dayNightBtn {
    color: var(--text-color);
    border: none;
    background-color: transparent;

    transition: transform 0.3s ease;
}

.dayNightBtn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.dayNightBtn:hover:before {
    width: 0;
}

/* day night button */

.about a , .ubt , .copyright{
    color: white;
}
/* =============================== */
.suggestions {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    width: 200px;
    display: none;
    margin-top: 42px;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;  
}

.suggestion-item:hover {
    background-color: #ddd;
}

#selectedSkills{
    border: 1px solid black;
    display: block;
}
#selectedSkills div{
    background-color: #007bff;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

