:root {
    --background-color: #fbfbfb;
    --border-color: #18FF27;
    --text-color: #18BA27;
    --button-bg: #007bff;
    --button-hover-bg: transparent;
    --button-hover-text: #18BA27;
    --big-text-color: #006c0b;
    --test: #003f06;
}

/* Global styles */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Header styles */
header {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}

.header-main {
    padding: 0px;
    width: 70%;
    justify-content: space-around;
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--text-color);
}

/* Navigation styles */
nav {
    display: flex;
    gap: 50px;
}

.lg, .header-login-a, .uname {
    border: none;
    background-color: transparent;
    color: var(--text-color);
}

.si {
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
}

/* Section styles */
section {
    background-image: url(images/workimg2.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionText {
    margin-top: 15%;
    text-align: center;
    width: 70%;
    font-weight: bold;
    font-size: 60px;
    color: var(--text-color);
}


/* Article styles */
article {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: var(--border-color) solid 1px;
}

/* Welcome styles */
.welcome-text {
    padding-top: 10%;
    width: 40%;
    text-align: center;
}

.welcome-buttons {
    margin: 20px 0 100px 0;
}

.contact {
    background-color: var(--text-color);
    border: none;
    font-size: 20px;
    padding: 20px 50px;
    color: var(--background-color);
}

.more-info {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 20px;
    padding: 18px 38px;
}

.articleTwo {
    margin: 100px 0px 0 0;
    width: 100%;
    align-items: center;
}

.first-at {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 25px;
}

.second-at {
    padding: 60px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(45deg ,var(--border-color) ,var(--text-color));
}

.third-at {
    text-align: center;
    gap: 20px;
    margin-top: 25px;
}

.third-at p {
    padding-bottom: 20px;
}

.motto {
    font-size: 30px;
    color: var(--big-text-color);
}

.infop {
    /* background: -webkit-linear-gradient(45deg, #FFDDD2, #E29578, #E29578); */
    color: var(--big-text-color);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.ppic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: var(--big-text-color) solid 5px;
}

.ppic {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* ArticleThree styles */
.articleThree {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px 100px 20px;
    border-top: var(--border-color) solid 1px;
    border-bottom: var(--border-color) solid 1px;
}

.enter {
    text-align: center;
    padding-bottom: 100px;
}

.enter h1 {
    font-weight: bold;
    font-size: 60px;
    color: var(--text-color);
}

/* Icon styles */
.icon-holder {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icon-holder img {
    width: 10em;
}

.icon-holder div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Footer styles */
footer {
    background-color: var(--text-color);
}

.content {
    color: var(--big-text-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cp {
    color: var(--big-text-color);
    justify-content: center;
    padding-bottom: 10px;
}

h3 a {
    text-decoration: none;
    position: relative;
    color: var(--text-color);
}

h3 a:not(.current)::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: width 0.3s ease;
}

h3 a:not(.current):hover::before {
    width: 100%;
}

.current {
    color: #baffba;
}

/* Button styles */
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--background-color);
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    transition: background-color 1s ease, color 1s ease;
    font-family: 'IBM Plex Sans', sans-serif;
}

button:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--text-color);
    transition: width 0.7s ease;
}

button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
    cursor: pointer;
}

button:hover:before {
    width: 100%;
}

/* Header styles */
.header-main .profile {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4px;
}

.header-main .profile a {
    text-decoration: none;
    color: var(--text-color);
}

.header-login-a {
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
}

.uname {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-family: 'IBM Plex Sans', sans-serif;
}

.signupi {
    text-decoration: none;

}

.signupi:hover {
    color: var(--border-color);
}

.signupi:visited {
    color: var(--big-text-color);
}

/* day night button */

.dayNightBtn {
    color: var(--text-color);
    border: none;
    background-color: transparent;

    transition: transform 0.3s ease;
}

.dayNightBtn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.dayNightBtn:hover:before {
    width: 0;
}

/* day night button */

.about a , .ubt , .copyright{
    color: white;
}


